<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="category">
    <div class="col-md-4 products-left">
    <div class="css-treeview">
        <div class="clearfix"></div>
        <h4>Danh mục sản phẩm</h4>
        <ul class="tree-list-pad">

            <li><input type="checkbox" id="item-0-0"/><label for="item-0-0"><b>
            <i class="fa fa-angle-down" aria-hidden="true"></i></b> &nbsp;Thời trang nữ</label>
                <ul>
                    <li><a href="mens">&nbsp;Thời trang công sở</a></li>
                    <li><a href="mens">&nbsp;Áo sơ mi nữ</a></li>
                    <li><a href="mens">&nbsp;Áo khoác nữ</a></li>
                    <li><a href="mens">&nbsp;Phụ kiện</a></li>
                </ul>

            </li>
            <li><input type="checkbox" id="item-0-1"/><label for="item-0-1">
               <b><i class="fa fa-angle-down" aria-hidden="true"></i></b> &nbsp;Thời trang nam</label>
                <ul>
                    <li><a href="mens">&nbsp;Veston nam</a></li>
                    <li><a href="mens">&nbsp;Áo sơ mi</a></li>
                    <li><a href="mens">&nbsp;Áo thun</a></li>
                    <li><a href="mens">&nbsp;Quần áo thể thao</a></li>
                    <li><a href="mens">&nbsp;Phụ kiện</a></li>
                </ul>

            </li>
            <li><input type="checkbox" id="item-0-2"/><label for="item-0-2">
                <b><i class="fa fa-angle-down" aria-hidden="true"></i></b> &nbsp;Thời trang Trẻ em</label>
                <ul>
                    <li><a href="mens">&nbsp;Thời trang bé gái</a></li>
                    <li><a href="mens">&nbsp;Thời trang bé trai</a></li>
                    <li><a href="mens">&nbsp;Phụ kiện</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
</div>
</body>
</html>