<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <div class="col-md-3 footer-left">
                <h2><a href="/"><span>B</span>oot Shoppy </a></h2>
                <p>Lorem ipsum quia dolor
                    sit amet, consectetur, adipisci velit, sed quia non
                    numquam eius modi tempora.</p>
                <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                    <li><a href="#" class="facebook">
                        <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                    </a></li>
                    <li><a href="#" class="twitter">
                        <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                    </a></li>
                    <li><a href="#" class="instagram">
                        <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                    </a></li>
                    <li><a href="#" class="pinterest">
                        <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                    </a></li>
                </ul>
            </div>
            <div class="col-md-9 footer-right">
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>Thông tin<span>Danh mục</span></h4>
                        <ul>
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="mens">Thời trang nam</a></li>
                            <li><a href="womens">Thời trang nữ</a></li>
                            <li><a href="womens">Thời trang trẻ em</a></li>
                            <li><a href="about">Giới thiệu</a></li>
                            <li><a href="contact">Liên hệ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 sign-gd-two">
                        <h4>Thông tin<span>Cửa hàng</span></h4>
                        <div class="w3-address">
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Điện thoại</h6>
                                    <p>012 345 6789</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Địa chỉ Email</h6>
                                    <p>Email :<a href="mailto:example@email.com">bootshoop@example.com</a></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Địa chỉ</h6>
                                    <p>Tan Trieu - Thanh Tri - Ha Noi.

                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 sign-gd flickr-post">
                        <h4><span>Nhóm</span></h4>
                        <ul>
                            <li><a href="single"><img src="images/t1.jpg" alt=" " class="img-responsive"/></a></li>
                            <li><a href="single"><img src="images/t2.jpg" alt=" " class="img-responsive"/></a></li>
                            <li><a href="single"><img src="images/t3.jpg" alt=" " class="img-responsive"/></a></li>
                            <li><a href="single"><img src="images/t4.jpg" alt=" " class="img-responsive"/></a></li>
                            <li><a href="single"><img src="images/t1.jpg" alt=" " class="img-responsive"/></a></li>
                            <li><a href="single"><img src="images/t2.jpg" alt=" " class="img-responsive"/></a></li>
                            <li><a href="single"><img src="images/t3.jpg" alt=" " class="img-responsive"/></a></li>
                            <li><a href="single"><img src="images/t2.jpg" alt=" " class="img-responsive"/></a></li>
                            <li><a href="single"><img src="images/t4.jpg" alt=" " class="img-responsive"/></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="agile_newsletter_footer">
                <div class="col-sm-6 newsleft">
                    <h3>Đăng kí nhận thông tin</h3>
                </div>
                <div class="col-sm-6 newsright">
                    <form action="#" method="post">
                        <input type="email" placeholder="Nhập email của bạn..." name="email" required="">
                        <input type="submit" value="Gửi">
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>

</div>
</body>
</html>